.DS_Store
proyecto_videos.xcworkspace/xcuserdata/judithchavez06.xcuserdatad/UserInterfaceState.xcuserstate
proyecto_videos.xcworkspace/xcuserdata/judithchavez06.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist







